body {
    scroll-behavior: smooth;
    margin: 0;
    background-color: #111111;
    color: #d9d9d9;
    font-family: "Oswald", sans-serif;
}

/* ===== Шапка ===== */

header {
    background-color: #1a1a1a;
    border-bottom: 2px solid #8b0000;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px 40px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 12px;
}

.logo-text{
    display:flex;
    flex-direction:column;
}

.logo-text span{
    color:#d9d9d9;
    font-size:34px;
    font-weight:bold;
    line-height:1;
}

.logo-text small{
    color:#ffffff61;
    font-size:12px;
    margin-top:6px;
    letter-spacing:1px;
    text-transform:uppercase;
}

.logo img {
    width: 70px;
    height: 70px;
}

.logo span {
    color: #d9d9d9;
    font-size: 34px;
    font-weight: bold;
}

/* ===== Меню ===== */

nav {
    display: flex;
    gap: 35px;
}

nav a {
    color: #d9d9d9;
    text-decoration: none;
    text-shadow: 0 0 8px #8b0000;
    font-size: 22px;
    transition: .3s;
}

nav a:hover {
    color: #8b0000;
}

/* ===== Основной блок ===== */

.hero {
    position: relative;

    max-width: 1400px;
    margin: 70px auto;
    padding: 0 60px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
}

.hero-text {
    flex: 1;
    max-width: 620px;
}

.hero-code {
    position: relative;

    flex: 1;
    min-width: 500px;
    height: 520px;

    background: #1a1a1a;
    border: 2px solid #8b0000;
    border-radius: 20px;

    box-shadow: 0 0 35px rgba(139,0,0,.35);

    overflow: visible;
}

/* ===== Заголовки ===== */

h1 {
    color: #8b0000;
    font-size: 50px;
    margin: 0 0 30px 0;
    text-align: left;
}

h2 {
    color: #8b0000;
    font-size: 36px;
    margin-top: 50px;
}

/* ===== Текст ===== */

p {
    color: #ffffff;
    font-size: 24px;
    line-height: 1.7;
    margin: 20px 0;
    text-align: left;
}

/* ===== Список ===== */

ul {
    color: #ffffff;
    font-size: 24px;
    line-height: 1.8;
    margin: 20px 0;
    padding-left: 30px;
}

li {
    margin-bottom: 10px;
}

/* ===== Кнопка ===== */

.start-button {
    display: inline-block;
    margin-top: 40px;
    padding: 15px 30px;

    background: #8b0000;
    color: white;

    text-decoration: none;
    font-size: 24px;
    font-weight: bold;

    border-radius: 12px;
    box-shadow: 0 0 15px rgba(139,0,0,.4);

    transition: .3s;
}

.start-button:hover {
    background: #b00000;
    transform: scale(1.05);
}

/* ===== Страница "О нас" ===== */

.about {
    max-width: 1000px;
    margin: 70px auto;
    padding: 0 20px;
}

/* ===== Окно с кодом ===== */

.code-header {
    display: flex;
    gap: 10px;
    padding: 18px;
    border-bottom: 2px solid #2b2b2b;
}

.code-header span {
    width: 14px;
    height: 14px;
    border-radius: 50%;
}

.red {
    background: #ff5f56;
}

.yellow {
    background: #ffbd2e;
}

.green {
    background: #27c93f;
}

.code {
    color: #d9d9d9;
    font-size: 20px;
    line-height: 1.8;
    padding: 25px;
    margin: 0;
}
